<div id="footer">
  <ul class="navigation round">
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
    <li>
      <%= link_to image_tag(
        "awlogo.jpg", :alt => "Global Amphibian Blitz", :class => "round"
      ), 'http://amphibiaweb.org/' %>
    </li>
  </ul>
</div>
