<div id="header">
  <div class="logobox round">
        <%= link_to image_tag(
          "AW.jpg", :alt => "Global Amphibian Blitz", :class => "logotop"
        ), 'http://amphibiaweb.org/' %>

        <%= link_to image_tag(
          "AR.jpg", :alt => "Global Amphibian Blitz", :class => "logotop"
        ), 'http://amphibianrescue.org/about/' %>
        
        <%= link_to image_tag(
          "AA.jpg", :alt => "Global Amphibian Blitz", :class => "logobottom"
        ), 'http://www.amphibianark.org/?lang=en' %>

        <%= link_to image_tag(
          "ASG.jpg", :alt => "Global Amphibian Blitz", :class => "logobottom"
        ), 'http://www.amphibians.org/ASG/Home.html' %>
  </div>
  <%= link_to image_tag("Blitz_logo.jpg", :alt => "Global Amphibian Blitz", :class => "round"), home_path %>
  <ul class="navigation round">
      <li><%= link_to "Home", home_path %></li><br />
      <li><%= link_to "About", about_path %></li><br />
      <li><%= link_to "Rules", rules_path %></li><br />
  </ul>
</div>